<h1>Enter three side lengths to see what type of triangle it is.</h1>
<form action='/results_triangle'>
  <div class="form-group">
    <label for="side1">Side A</label>
    <input id="side1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side2">Side B</label>
    <input id="side2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side3">Side C</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Compute!</button>
</form>
